@layer global, component;

@layer global {
  /* source-sans-3-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/source-sans-3-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/source-sans-3-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-30: calc(30 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-56: calc(56 / 16 * 1rem);

    --font-size-nav: var(--fs-16);
    --font-size-button: var(--fs-18);
    --font-size-h1: var(--fs-56);
    --font-size-h2: var(--fs-40);
    --font-size-cta-h2: var(--fs-30);
    --font-size-h3: var(--fs-18);
    --font-size-text: var(--fs-18);

    @media (width >= calc(400 / 16 * 1rem)) {
      --font-size-nav: var(--fs-20);
    }
  }

  /* Colors */
  :root {
    --c-dark-green: #495e57;
    --c-yellow: #f4ce14;
    --c-white: #ffffff;
    --c-off-white: #edefee;
    --c-dark-gray: #333333;
    --c-yellow-hover: rgba(227, 189, 0, 0.85);
    --c-peach: #ee9972;

    --color-text-light: var(--c-white);
    --color-nav-text: var(--c-dark-green);
    --color-nav-text-hover: var(--c-yellow);
    --color-hero-bg: var(--c-dark-green);
    --color-hero-h1: var(--c-yellow);
    --color-button-bg: var(--c-yellow);
    --color-button-text: var(--c-dark-green);
    --color-button-bg-hover: var(--c-yellow-hover);
    --color-cta-text: var(--c-dark-gray);
    --color-cta-card-bg: var(--c-off-white);
    --color-cta-h2: var(--c-dark-green);
    --color-cta-card-price: var(--c-peach);
    --color-cta-card-link: var(--c-dark-green);
    --color-cta-card-link-hover: var(--c-yellow-hover);
    --color-footer-bg: var(--c-dark-green);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
    padding-block: 45px;
  }

  .list {
    padding-left: 0;
    list-style: none;
  }

  .button {
    border: none;
  }

  .hover-fade {
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

@layer component {
  /* button */
  .button {
    padding: 10px 24px;
    background-color: var(--color-button-bg);
    display: inline-block;
    border-radius: 16px;
    font-size: var(--font-size-button);
    font-weight: 700;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-button-bg-hover);
    }
  }

  /* Top Navigation */
  .topnav {
    .topnav__wrapper {
      padding-block: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      @media (width >= calc(768 / 16 * 1rem)) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .topnav__logo {
      width: calc(150 / 16 * 1rem);
    }

    .topnav__links {
      display: flex;
      gap: 32px;
    }

    .topnav__link {
      font-size: var(--font-size-nav);
      font-weight: 700;
      color: var(--color-nav-text);
      transition: color 150ms ease-in-out;

      &:hover {
        color: var(--color-nav-text-hover);
      }
    }
  }

  /* Hero Section*/
  .hero {
    background-color: var(--color-hero-bg);
    color: var(--color-text-light);

    .hero__wrapper {
      display: grid;
      grid-template-rows: repeat(2, auto);
      gap: 0;

      @media (width >= calc(768 / 16 * 1rem)) {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 35px;
      }
    }

    .hero__image {
      width: calc(380 / 16 * 1rem);
      margin-block-end: 40px;
      border-radius: 16px;

      @media (width >= calc(768 / 16 * 1rem)) {
        width: calc(500 / 16 * 1rem);
        margin-block-end: 0px;
        justify-self: center;
        align-self: center;
        order: 2;
      }
    }

    .hero__title {
      margin-block-end: 8px;
      color: var(--color-hero-h1);
    }

    .hero__content {
      margin-block-end: 24px;
    }

    .hero__description {
      max-width: 45ch;
      margin-block-end: 32px;
      font-size: var(--font-size-text);
    }

    .hero__link {
      color: var(--color-button-text);
    }
  }

  /* Call to Action (CTA) */
  .cta {
    color: var(--color-cta-text);
    font-weight: 700;

    .cta__top {
      margin-block-end: 32px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .cta__top-title {
      color: var(--color-cta-h2);
      font-size: var(--font-size-cta-h2);
    }

    .cta__link {
      color: var(--color-button-text);
    }

    .cta__cards {
      display: grid;
      grid-template-columns: auto;
      row-gap: 32px;

      @media (width >= calc(768 / 16 * 1rem)) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
      }
    }

    .cta__card {
      background-color: var(--color-cta-card-bg);
      padding: 20px;
      display: grid;
      border-radius: 16px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-7px);
      }
    }

    .cta__card-image {
      width: calc(340 / 16 * 1rem);
      margin-block-end: 12px;
      border-radius: 16px;
      justify-self: center;
    }

    .cta__card-top {
      margin-block-end: 16px;
      display: flex;
      justify-content: space-between;
    }

    .cta__card-price {
      color: var(--color-cta-card-price);
    }

    .cta__card-description {
      margin-block-end: 24px;
      font-weight: 400;
    }

    .cta__card-link {
      color: var(--color-cta-card-link);
      transition: color 150ms ease-in-out;
      align-self: flex-end;

      &:hover {
        color: var(--color-cta-card-link-hover);
      }
    }
  }

  /* Footer */
  .footer {
    background-color: var(--color-footer-bg);

    .footer__wrapper {
      padding-block: 25px;
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .footer__logo {
      width: calc(50 / 16 * 1rem);
    }

    .footer__copyright {
      font-size: var(--font-size-text);
      color: var(--color-text-light);
    }
  }
}
